{% extends '../base_template/base_ML_course.html' %}
{% csrf_token %}
{% block myTitle %} Ensemble Model Types{% endblock myTitle %}
{% block mainPage %}
<div class="card-body">
    <h2 class="card-title my-3"> Types of Ensemble Models</h2>

    <article>
        <div class="card bg-success text-white my-4">
            <div class="card-title">
                <h6>
                    What will you learn in this section
                </h6>
                <ul>
                    <li> Different types of Ensemble Models </li>
                    
                </ul>
            </div>
        </div>
        <div>
            <h4> Types of Ensemble Models </h4>
            <p>
                In our previous discussion we have seen an overview of ensemble models. We essentially train multiple models ( called
                weak learners) and make final predictions by combining predictions from all the models. There are two things we can
                control here.
                <ul>
                    <li>
                        <h5>
                            Training data
                        </h5>
                        <p>
                            We can keep the same training data for all the models or we can create different training samples for each of the models
                            to train.

                        </p>
                    </li>
                    <li>
                        <h5>
                            Model type
                        </h5>
                        <p>
                            We can select the same type of models ( for example all the models can be decision trees with different sets of
                            hyperparameters ) or we can select different types of model. One can be decision tree others could be logistic
                            regression, SVM, KNN etc.
                        </p>
                    </li>
                </ul>

            </p>
        </div>

        <div>
            <p>
                We can generate four combinations by changing data or the model which are shown in diagram1.
                <ul>
                    <li>
                        <h6>
                            Same Training data and same types of weak learners 
                        </h6>
                        <p>
                            This combination is not useful as we will be training the same model on the same data. Essentially each model will be
                            predicting the same thing for a given data point and hence predictions are not very useful in this case.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Same Training data and different model types
                        </h6>
                        <p>
                            This technique is called stacking. Weak learners can be any of the ML models such as decision tree , SVM , logistic
                            regression, KNN etc. Details of stacking are discussed in the next section.
                        </p>
                    </li>
                    <li>
                        <h6>
                            Different training data and same model types

                        </h6>
                        <p>
                            Bagging and boosting are the techniques which are trained in these settings.
                            Random Forest is an example of bagging.  Ada Boost & gradient boosting are the examples of boosting algorithms. We will discuss the details of each of the algorithms in upcoming discussions.
                             
                        </p>
                    </li>
                    <li>
                        <h6>
                            Different training data and different model types 
                        </h6>
                        <p>
                            This is generally not  used in practice. But readers can try out these settings.
                        </p>
                    </li>
                </ul>
            </p>
            {% load static %}
            <div class="my-4">
                <img src={% static 'ensemble_model/types_of_ensemble_models.png' %}
                    class="img-fluid rounded float-centre" alt="types_of_ensemble_models">
            </div>
            <p class="text-center"> Diagram 1:  Different ensemble models can be generated by changing data or model types</p>
        
        </div>
      <div>
        <p>
            We will discuss the below three different types of ensemble techniques. We will also discuss what kind of problems a
            particular method solves.
            <ul>
                <li>
                    Stacking

                </li>
                <li>
                    Bagging
                </li>
                <li>
                    Boosting
                </li>
            </ul>
        </p>
      </div>

    </article>
</div>
{% endblock mainPage %}

{% block rightSideCard %}
<!-- right side card contains list of definitions-->
<ul>
    <li>
        <a href="#">WCSS Metric</a>
    </li>
    <li>
        <a href="#">Case Study</a>
    </li>
</ul>
{% endblock rightSideCard %}
