<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Handle</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>@mdo</td>
        <td>1100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>@fat</td>
        <td>1001</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Henry</td>
        <td>@henr</td>
        <td>918</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Orion</td>
        <td>@packs</td>
        <td>900</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Errichto</td>
        <td>@tourist</td>
        <td>876</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mike</td>
        <td>@mikey</td>
        <td>871</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cavil</td>
        <td>@cave</td>
        <td>860</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Gian</td>
        <td>@gi@n</td>
        <td>854</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>More</td>
        <td>@moret</td>
        <td>850</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nike</td>
        <td>@nothing</td>
        <td>848</td>
      </tr>
    </tbody>
  </table>